*
!*/
.idea/
!src/main/webapp/*
!src/main/webapp/Info/*
!.gitignore
!*.gitattributes
!pom.xml
!*.java
!*.md
!*.txt
!*.xml
!*.gif
!*.png
!*.jpg
!MANIFEST.MF
!*.dtd
!eadsgml.dcl
!*.ent
!*.xsd
!*.yml
target/
!.dockerignore
!docker-entrypoint.sh
!Dockerfile
!doc/*.xsl
!doc/*.html

